<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            background-color: #8BC34A; /* Lighter Green */
            color: #ffffff;
            padding: 10px 20px;
            text-align: center;
            border-radius: 8px 8px 0 0;
        }
        .content {
            padding: 20px;
            text-align: center;
            color: #333333;
        }
        .button {
            display: inline-block;
            background-color: #4CAF50; /* A more vibrant green */
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        .footer {
            text-align: center;
            padding: 20px;
            font-size: 12px;
            color: #777777;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 style="color: #333; text-align: center; font-size: 24px;">Confirmez votre adresse e-mail</h1>
        </div>
        <div class="content">
            <p>Bonjour,</p>
            <p>Merci de vous être inscrit(e) sur MoodFlow+. Veuillez cliquer sur le bouton ci-dessous pour confirmer votre adresse e-mail et activer votre compte :</p>
            <a href="{{ verificationLink }}" class="button">Confirmer mon e-mail</a>
            <p>Si vous n'avez pas créé de compte, veuillez ignorer cet e-mail en toute sécurité.</p>
            <p>Cordialement,<br>L'équipe MoodFlow+</p>
        </div>
        <div class="footer">
            <p>&copy; {{ "now"|date("Y") }} MoodFlow+. Tous droits réservés.</p>
        </div>
    </div>
</body>
</html>
